.kaushan-script-regular {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

h1 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trigger {
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 10px;
}

.trigger:hover {
    background-color: rgba(253,187,45,1);
    border-radius: 40%;
}

.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}

.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    cursor: default;
    padding: 40px 20px;
}

.modalClose {
    font-family: inherit;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

.modalWindow {
    position: relative;
}

.wish {
    font-family: "Lobster", serif;
    font-size: 20px; /* Размер шрифта */
    line-height: 1.5; /* Высота строки для читаемости */
    color: #333; /* Цвет текста */
    text-align: center; /* Выравнивание текста */
    margin-top: 40%; /* Отступ сверху */
    white-space: pre-line; /* Сохраняет переносы строк */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тень текста */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Градиент */
    -webkit-background-clip: text; /* Отображает градиент внутри текста */
}

#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* чтобы клики проходили мимо фейерверков */
    z-index: 2; /* поверх всего, кроме модального окна */
}

.spark {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(195,34,72,1) 26%, rgba(146,45,253,1) 100%);
    animation: spark-animation 1s ease-out forwards;
}

@keyframes spark-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(0.5);
        opacity: 0;
    }
}

@media (max-width: 768px) {
  .trigger {
    margin-top: 20%;
  }
}
  
.animated-photo {
    display: none;
    width: 400px; /* размер фото можно подкорректировать */
    height: auto;
    border-radius: 50%;
    animation: fadeInOut 10s ease-in-out; /* продолжительность анимации 10 секунд */
}

/* Анимация для плавного появления и исчезновения */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}